footer.footer
  .footer__logo
    img(src='/img/logo-black-big.png' alt='Dubai Auto Parts logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Contact
  p.footer__copyright &copy; by Dubai Auto Parts. All rights reserved.
