extends base

block content
  header.invoiceHeader
    h1 items report
  //-   input(type="text" placeholder="Search By Number..." autocomplete="off")#search
  //- article
  //-   table.meta
  //-     tr
  //-       th
  //-         span Number
  //-       td
  //-         span#number.toSave
  //-     tr
  //-       th
  //-         span Date
  //-       td
  //-         span#date.toSave
  //-     tr
  //-       th
  //-         span Buyer
  //-       td
  //-         select.toSave
                option(disabled selected) Select ...
                option(value="Wissam") Wissam
                option(value="Tamer") Tamer
  //-     tr
  //-       th
  //-         span Total
  //-       td
  //-         span.toSave 0
  //-   table.inventory
  //-     thead
  //-       tr
  //-         th
  //-           span Item
  //-         th
  //-           span Car
  //-         th
  //-           span Quantity
  //-         th
  //-           span Price
  //-         th
  //-           span Amount
  //-     tbody#tableBody
  //-       tr
  //-         td
  //-           a.cut -
  //-           span
  //-             input(type="text" list="items" placeholder="Select or search...").itemInput.toSave
  //-         td
  //-           span
  //-             select.carInput.toSave
  //-         td
  //-           span(contenteditable).toSave 0
  //-         td
  //-           span(contenteditable).toSave 0
  //-         td
  //-           span.toSave 0
  //-   a#add.add +
  //- button#save.btn.btn--green.btn--small SAVE
