extends base

block content
  main.main
    .card-container
      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/items.jpg`, alt=`items`)
          h3.heading-tertirary
            span= "Inventory"
        .card__footer
          a.btn.btn--green.btn--small(href=`/items`) Items

      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/sales.jpg`, alt=`sales`)
          h3.heading-tertirary
            span= "Sales"
        .card__footer
          a.btn.btn--green.btn--small(href=`/sales/report`) Report
          a.btn.btn--green.btn--small(href=`/sales`) Invoice

      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/purchases.jpg`, alt=`purchases`)
          h3.heading-tertirary
            span= "Purchases"
        .card__footer
          a.btn.btn--green.btn--small(href='/purchases/report') Report
          a.btn.btn--green.btn--small(href='/purchases') Invoice

      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/expenses.jpg`, alt=`expenses`)
          h3.heading-tertirary
            span= "Expenses"
        .card__footer
          a.btn.btn--green.btn--small(href=`/expenses/report`) Report
          a.btn.btn--green.btn--small(href=`/expenses`) Invoice
