extends base

block content
  main.main
    .card-container
      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/items.jpg`, alt=`items`)
          h3.heading-tertirary
            span= "المخزون"
        .card__footer
          a.btn.btn--green.btn--small(href=`/items`) Details

      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/sales.jpg`, alt=`sales`)
          h3.heading-tertirary
            span= "المبيعات"
        .card__footer
          a.btn.btn--green.btn--small(href=`/sales`) Details

      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/purchases.jpg`, alt=`purchases`)
          h3.heading-tertirary
            span= "المشتريات"
        .card__footer
          a.btn.btn--green.btn--small(href='/purchases') Details

      .card
        .card__header
          .card__picture
            .card__picture-overlay &nbsp;
            img.card__picture-img(src=`img/overview/expenses.jpg`, alt=`expenses`)
          h3.heading-tertirary
            span= "المصروفات"
        .card__footer
          a.btn.btn--green.btn--small(href=`/expenses`) Details
