extends base

block content
  header.invoiceHeader
    h1 PURCHASES INVOICE
  article
    table.meta
      tr
        th
          span Number
        td
          span 101138
      tr
        th
          span Date
        td
          span January 1, 2012
      tr
        th
          span Total
        td
          span 600.00
    table.inventory
      thead
        tr
          th
            span Item
          th
            span Car
          th
            span Quantity
          th
            span Price
          th
            span Amount
      tbody
        tr
          td
            a.cut -
            span(contenteditable) 
              select
                option(value="option1") Option 1
                option(value="option2") Option 2
                option(value="option3") Option 3
          td
            span(contenteditable) Experience Review
          td
            span(contenteditable) 4
          td
            span(contenteditable) 150.00
          td
            span 600.00
    a.add +
